venv
venv_fixed
# Python
admission_system/__pycache__/views.cpython-38.pyc
admission_system/__pycache__/
admission_system/__pycache__/
ams_project/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Environment
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

.req.txt

settings.py

staticfiles/